<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		YmFzaA==
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		YmFzaA==
		</data>
	</dict>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		c2g=
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		c2g=
		</data>
	</dict>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		YGBg
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		YGBg
		</data>
	</dict>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		Y29uc29sZQ==
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		Y29uc29sZQ==
		</data>
	</dict>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		anM=
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		anM=
		</data>
	</dict>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		QmV0dGVyVG91Y2hUb29s
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		QmV0dGVyVG91Y2hUb29s
		</data>
	</dict>
	<dict>
		<key>NSStringPboardType</key>
		<data>
		cm0gLXJmIH4vTGlicmFyeS9BcHBsaWNhdGlvblwgU3VwcG9ydC9CZXR0ZXJU
		b3VjaFRvb2wK
		</data>
		<key>public.utf8-plain-text</key>
		<data>
		cm0gLXJmIH4vTGlicmFyeS9BcHBsaWNhdGlvblwgU3VwcG9ydC9CZXR0ZXJU
		b3VjaFRvb2wK
		</data>
	</dict>
</array>
</plist>
