snippet g "Group"
/* @group ${1} */
	${2}
/* @end */
endsnippet

snippet log "Log"
window.console.log && console.log && console.log(${0});
endsnippet

snippet l "Log"
window.console.log && console.log && console.log(${0});
endsnippet

snippet f "Function"
function(${1}) {
	${2}
};
endsnippet

