'.source.js':
  'inspect':
    'prefix': 'inspect'
    'body': 'console.log(require(\'util\').inspect($1, { depth: 50, breakLength: 30 }));$2'
  'import':
    'prefix': 'import'
    'body': 'import $1 from \'$2\';$3'
  'log':
    'prefix': 'log'
    'body': 'console.log($1);$2'
  'log(===)':
    'prefix': 'equal log'
    'body': 'console.log(\'==========\')$1'
  'log(---)':
    'prefix': 'bar log'
    'body': 'console.log(\'----------\')$1'
